<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Tambah Lagu</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header class="container">
      <a href="/" class="header-logo">Home</a>
    </header>
    <div class="container">
      <div class="container-header">
        <h1>Tambahkan lagu</h1>
      </div>
      <div class="item-form-wrapper">
        <form action="/create" method="post">
          <p class="form-label">masukkan judul lagu</p>
          <input type="text" name="judul" />
          <p class="form-label">masukkan nama artist lagu</p>
          <input type="text" name="artist" />
          <p class="form-label">masukkan url</p>
          <input type="text" name="url" />
          <input type="submit" value="Tambahkan" />
        </form>
      </div>
      <a href="/" class="cancel-button">Kembali</a>
    </div>
  </body>
</html>
